body {
    background-color: rgb(200, 200, 200);
}

header {
    background-image: url(sexo4.png);
}

#logo {
    position: relative;
    left: 50px;
    width: 200px;
}

.caixa {
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 500px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #fff700;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover {
    color: rgba(255, 245, 58, 0.628);
    text-decoration: underline;
}

#divBusca {
    position: relative;
    left: 350px;
    bottom: 100px;
}

#txtBusca {
    background: transparent;
    width: 250px;
    border: solid 2px rgb(209, 209, 209);
    padding: 10px;
    border-radius: 15px;
}

.principais {
    background-color: rgb(45, 45, 45);
}

#sobrevivente {
    width: 500px;
    margin: 15px 0 0 15px;
    box-shadow: 10px 10px 13px black;
}

.lista {
    position: relative;
    left: 650px;
    bottom: 450px;
    color: white;
    font-size: 22px;
    font-weight: bolder;
}

.lista::first-line {
    font-size: 40px;
}

#li-title {
    margin: 0 0 15px 0;
    border-bottom: solid 2px #fff700;
    width: 550px;
}

.li-space {
    margin: 0 0 5px 0;
    font-size: 25px;
}

.pr2 {
    font-size: 22px;
    margin: 0 0 10px 0;
}

.imgkit {
    position: relative;
    bottom: 200px;
    left: 20px;
    width: 20%;
    margin-left: 50px;
    box-shadow: 10px 10px 13px black;
}

#basico {
    font-size: 50px;
    border-bottom: solid 2px #fff700;
    width: 200px;
    position: relative;
    left: 470px;
    bottom: 400px;
}

.kit-media {
    position: relative;
    bottom: 190px;
    right: 145px;
    width: 20%;
    margin-left: 50px;
    box-shadow: 10px 10px 13px black;
}

#media {
    font-size: 50px;
    border-bottom: solid 2px #fff700;
    width: 200px;
    position: relative;
    left: 450px;
    bottom: 380px;
}

.kit-prof {
    position: relative;
    bottom: 200px;
    right: 150px;
    width: 20%;
    margin-left: 50px;
    box-shadow: 10px 10px 13px black;
}

#prof {
    font-size: 50px;
    border-bottom: solid 2px #fff700;
    width: 200px;
    position: relative;
    left: 450px;
    bottom: 420px;
}

#lupa {
    width: 20px;
    position: relative;
    right: 29px;
    top: 5px;
}

#kit-title {
    color: green;
    text-shadow: 2px 8px 8px black;
    position: relative;
    font-size: 55px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    bottom: 250px;
}

.btn-1 {
    background-color: green;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    border: transparent;
    font-size: 22px;
    font-weight: bolder;
    position: relative;
    left: 470px;
    bottom: 550px;
}

.btn-2 {
    background-color: green;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    border: transparent;
    font-size: 22px;
    font-weight: bolder;
    position: relative;
    left: 460px;
    bottom: 590px;
}

.btn-3 {
    background-color: green;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    border: transparent;
    font-size: 22px;
    font-weight: bolder;
    position: relative;
    left: 455px;
    bottom: 400px;
}
